 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/back.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  font-weight: 700;
  margin: 205px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 118px;
    margin-left: -17px;
    margin-right: -17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 117px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-layout-wrap-1 {
  width: 866px;
  margin: -112px 129px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 294px;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 294px;
}

.u-section-2 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 294px;
}

.u-section-2 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-wrap-2 {
  width: 906px;
  margin: 58px auto 60px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 181px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-4 {
  margin: 74px 20px 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 181px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: 74px;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 139px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 143px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 219px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 140px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 130px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -31px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 207px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 207px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 117px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 89px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 194px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 9px;
    margin-left: 135px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -1px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 199px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 12px;
    margin-left: 135px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 184px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1128px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 185px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 278px);
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 59px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 13px 0 20px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/g0c62084a5ed86c9103a73a6c3549e19d8d5f6ee6d4fc0d616d0abd5a21c253f7904e1747390ced11e3f97affd3371dc98af5b9ff0db93ceb2c2f527a91b87f5e_1280.jpg");
  min-height: 900px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 35px 0;
}

.u-section-3 .u-icon-1 {
  height: 129px;
  width: 129px;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 24px 20px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  font-style: italic;
  line-height: 1.2;
  margin: 23px 0 0;
}

.u-section-3 .u-icon-3 {
  height: 123px;
  width: 123px;
  background-image: none;
  margin: 29px auto 0;
}

.u-section-3 .u-text-5 {
  text-align: start;
  font-size: 2.25rem;
  font-weight: 700;
  width: 208px;
  margin: 13px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  text-align: start;
  width: 406px;
  margin: 23px auto 0;
}

.u-section-3 .u-image-2 {
  min-height: 900px;
  background-image: url("images/bacnner3.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 984px;
  }

  .u-section-3 .u-group-1 {
    width: 638px;
    min-height: 138px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 33px;
    padding-right: 33px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 29px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 11px;
    margin-bottom: 15px;
  }

  .u-section-3 .u-image-1 {
    min-height: 742px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-icon-1 {
    height: 60px;
    width: 60px;
    margin-top: 28px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    position: relative;
  }

  .u-section-3 .u-text-5 {
    width: 124px;
    margin-right: 84px;
  }

  .u-section-3 .u-image-2 {
    min-height: 742px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 2136px;
  }

  .u-section-3 .u-group-1 {
    width: 571px;
    min-height: 124px;
    margin-left: calc(((100% - 1140px) / 2) + 277px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin: 20px 10px 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 1137px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 13px;
  }

  .u-section-3 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin-top: 33px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-3 .u-image-2 {
    min-height: 1137px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2361px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin: 11px 1px 10px;
  }

  .u-section-3 .u-image-1 {
    z-index: auto;
    min-height: 853px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 29px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
  }

  .u-section-3 .u-image-2 {
    min-height: 853px;
    z-index: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1705px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-3 .u-image-1 {
    min-height: 995px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 38px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 7px;
  }

  .u-section-3 .u-text-5 {
    width: 208px;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    min-height: 537px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 646px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 142px;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 55px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1120px;
  margin: 44px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 312px;
}

.u-section-4 .u-icon-1 {
  height: 124px;
  width: 124px;
  color: rgb(254, 126, 201) !important;
  margin: 38px auto 0 63px;
}

.u-section-4 .u-text-2 {
  width: 203px;
  text-transform: none;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 312px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.u-section-4 .u-icon-2 {
  height: 120px;
  width: 120px;
  color: rgb(254, 126, 201) !important;
  margin: 43px auto 0;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  margin: 31px 18px 0;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 312px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 12px 3px;
}

.u-section-4 .u-icon-3 {
  height: 117px;
  width: 117px;
  color: rgb(254, 126, 201) !important;
  margin: 39px auto 0;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  font-weight: 700;
  margin: 38px 18px 0;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 312px;
}

.u-section-4 .u-icon-4 {
  height: 109px;
  width: 109px;
  color: rgb(254, 126, 201) !important;
  margin: 43px auto 0;
}

.u-section-4 .u-text-5 {
  width: 203px;
  text-transform: none;
  font-weight: 700;
  margin: 42px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-4 .u-group-1 {
    width: 470px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-4 .u-icon-1 {
    height: 108px;
    width: 108px;
    margin-top: 13px;
    margin-left: 30px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-2 {
    height: 117px;
    width: 117px;
    margin-top: 10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 27px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 262px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-3 {
    height: 97px;
    width: 97px;
    margin-top: 20px;
    margin-left: 40px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 36px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 262px;
  }

  .u-section-4 .u-icon-4 {
    height: 85px;
    width: 85px;
    margin-top: 24px;
  }

  .u-section-4 .u-text-5 {
    width: 167px;
    margin-top: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 10px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-4 .u-icon-1 {
    height: 95px;
    width: 95px;
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-4 .u-icon-2 {
    height: 105px;
    width: 105px;
    margin-top: 17px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 22px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 234px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-3 {
    height: 88px;
    width: 88px;
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    width: 321px;
    margin-top: 22px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 234px;
  }

  .u-section-4 .u-icon-4 {
    height: 100px;
    width: 100px;
    margin-top: 38px;
  }

  .u-section-4 .u-text-5 {
    width: 321px;
    margin-top: 22px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 44px;
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 167px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-2 {
    height: 82px;
    width: 82px;
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    width: 430px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 181px;
  }

  .u-section-4 .u-icon-3 {
    height: 91px;
    width: 91px;
    margin-top: 14px;
  }

  .u-section-4 .u-text-4 {
    width: 430px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 24px;
    position: relative;
  }

  .u-section-4 .u-text-5 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-4 .u-group-1 {
    min-height: 187px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 10px;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 147px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-4 .u-icon-2 {
    height: 86px;
    width: 86px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -17px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 172px;
  }

  .u-section-4 .u-icon-3 {
    height: 79px;
    width: 79px;
    margin-top: 17px;
  }

  .u-section-4 .u-text-4 {
    width: 253px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 185px;
  }

  .u-section-4 .u-icon-4 {
    height: 96px;
    width: 96px;
    margin-top: 16px;
  }

  .u-section-4 .u-text-5 {
    width: 253px;
    margin-top: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/2264586_medium2000.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 532px;
}

.u-section-5 .u-group-1 {
  min-height: 187px;
  width: 853px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 30px auto 60px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 245px;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  background-size: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-size: auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-size: auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}.u-section-6 .u-sheet-1 {
  min-height: 694px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: 45px auto 0;
}

.u-section-6 .u-slider-1 {
  width: 758px;
  min-height: 463px;
  margin: 20px auto 60px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 21px 75px;
}

.u-section-6 .u-image-1 {
  height: 309px;
  width: 691px;
  margin: 8px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 12px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-image-2 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-carousel-item-3 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 33px;
}

.u-section-6 .u-image-3 {
  height: 309px;
  width: 691px;
  margin: 0;
}

.u-section-6 .u-text-4 {
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-6 .u-carousel-item-4 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 33px;
}

.u-section-6 .u-image-4 {
  height: 309px;
  width: 691px;
  margin: 0;
}

.u-section-6 .u-text-5 {
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-6 .u-carousel-item-5 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 33px;
}

.u-section-6 .u-image-5 {
  height: 309px;
  width: 691px;
  margin: 0;
}

.u-section-6 .u-text-6 {
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-6 .u-carousel-item-6 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 33px;
}

.u-section-6 .u-image-6 {
  height: 309px;
  width: 691px;
  margin: 0;
}

.u-section-6 .u-text-7 {
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-6 .u-carousel-item-7 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 18px 33px;
}

.u-section-6 .u-image-7 {
  height: 309px;
  width: 691px;
  margin: 0;
}

.u-section-6 .u-text-8 {
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-6 .u-carousel-item-8 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px 33px;
}

.u-section-6 .u-image-8 {
  height: 309px;
  width: 691px;
  margin: 0;
}

.u-section-6 .u-text-9 {
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-6 .u-slider-1 {
    width: 720px;
    min-height: 457px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-image-1 {
    height: 303px;
    width: 677px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-3 {
    height: 295px;
    width: 660px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-4 {
    height: 295px;
    width: 660px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-5 {
    height: 295px;
    width: 660px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-6 {
    height: 295px;
    width: 660px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-7 {
    height: 295px;
    width: 660px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-8 {
    height: 295px;
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-6 .u-slider-1 {
    width: 540px;
    min-height: 537px;
  }

  .u-section-6 .u-image-1 {
    height: 233px;
    width: 520px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 232px;
    width: 520px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 232px;
    width: 520px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    height: 232px;
    width: 520px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-6 {
    height: 232px;
    width: 520px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-7 {
    height: 232px;
    width: 520px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-8 {
    height: 232px;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 435px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-1 {
    height: 190px;
    width: 320px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 2px 0;
  }

  .u-section-6 .u-image-2 {
    height: 190px;
    width: 357px;
    margin-right: -18px;
    margin-left: auto;
  }

  .u-section-6 .u-text-3 {
    margin-top: 48px;
  }

  .u-section-6 .u-image-3 {
    height: 143px;
    width: 320px;
  }

  .u-section-6 .u-image-4 {
    height: 143px;
    width: 320px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-5 {
    height: 143px;
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-6 {
    height: 143px;
    width: 320px;
  }

  .u-section-6 .u-image-7 {
    height: 143px;
    width: 320px;
  }

  .u-section-6 .u-image-8 {
    height: 143px;
    width: 320px;
  }
} .u-section-7 {
  min-height: 400px;
  background-image: url("images/ga7550ce9ecfcac7ca05952dd984d1604576780c39e80b793ed874ed4d56e1a9e58d84b4e582b64e808beabf3c88d4023b0978790e00535d37592b89338fc434c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-group-1 {
  width: 800px;
  min-height: 220px;
  background-image: none;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 99px auto 60px calc(((100% - 1140px) / 2) + 170px);
}

.u-section-7 .u-container-layout-1 {
  padding: 7px 60px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 379px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 98px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 290px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 218px;
  }

  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 380px;
  }

  .u-section-7 .u-group-1 {
    min-height: 222px;
    margin-top: 90px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 15px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 564px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-8 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-8 .u-input-1 {
  text-transform: uppercase;
}

.u-section-8 .u-input-2 {
  text-transform: uppercase;
}

.u-section-8 .u-input-3 {
  text-transform: uppercase;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .u-section-8 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-form-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 707px;
}

.u-section-9 .u-text-1 {
  width: 515px;
  background-image: none;
  font-size: 3.75rem;
  margin: 18px auto 0;
}

.u-section-9 .u-image-1 {
  width: 621px;
  height: 439px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 110px auto 0 43px;
}

.u-section-9 .u-slider-1 {
  min-height: 377px;
  width: 471px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: -479px auto 60px 626px;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 29px;
}

.u-section-9 .u-carousel-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 40px 80px 45px;
}

.u-section-9 .u-text-2 {
  font-family: Roboto, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.0625rem;
  margin: 20px auto 0 0;
}

.u-section-9 .u-carousel-item-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 40px 80px 45px;
}

.u-section-9 .u-text-4 {
  font-family: Roboto, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-5 {
  font-size: 1.0625rem;
  margin: 20px auto 0 0;
}

.u-section-9 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-9 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 700px;
  }

  .u-section-9 .u-image-1 {
    width: 512px;
    margin-top: -572px;
  }

  .u-section-9 .u-slider-1 {
    min-height: 385px;
    width: 437px;
    height: auto;
    margin-right: 34px;
    margin-left: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 888px;
  }

  .u-section-9 .u-image-1 {
    margin-top: -799px;
    margin-left: 22px;
  }

  .u-section-9 .u-slider-1 {
    width: 479px;
    margin-top: -146px;
    margin-right: 21px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 30px 60px;
  }

  .u-section-9 .u-container-layout-2 {
    padding: 30px 60px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 54px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-image-1 {
    width: 488px;
    height: 436px;
    margin-top: 49px;
    margin-left: 0;
  }

  .u-section-9 .u-slider-1 {
    margin-top: -55px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-9 .u-text-1 {
    width: 258px;
    font-size: 2.25rem;
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 304px;
    margin-top: 46px;
  }

  .u-section-9 .u-slider-1 {
    min-height: 438px;
    width: 286px;
    margin-top: 77px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 598px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1149px;
  margin: 40px -5px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 518px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  margin: 0 auto;
}

.u-section-10 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-10 .u-form-group-4 {
  margin-left: 0;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 518px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-10 .u-text-3 {
  margin: 31px 0 0;
}

.u-section-10 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 49px auto 0;
}

.u-section-10 .u-text-5 {
  margin: 18px 31px 0;
}

.u-section-10 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.u-section-10 .u-text-7 {
  font-weight: 400;
  line-height: 30.6px;
  margin: 30px 42px 0 18px;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 518px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 424px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 325px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 60px;
    padding-left: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 731px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 460px;
  }
}text-color{
color:white;
}